@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	background: #222;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.container {
	width: 99%;
	margin: 0 auto;
}

header {
  background: #440a51;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  padding: 0 0;
	float: right
}

nav {
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


nav li {
  display: inline-block;
  margin: 10 0 0 10;
  padding-top: 0%;
	padding-left:10;

  position: relative;
}


/*the hyperlinks themselves*/
nav a {
  color: #e93845;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}


/*colour the text goes on hover*/
nav a:hover {
  color: #000;
}


/*thingy above the buttons*/
nav a::before {
  content: '';
  display: block;
  height: 1px;
  background-color: #e93845;

  position: absolute;
  top: 2px;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
